
API_BASE_URL=
API_DOC_PATH=
OPENAI_API_KEY=
MODEL_NAME=

TEST_USER_EMAIL=
TEST_USER_PASSWORD=

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=